<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %date{HH:mm:ss,SSS} %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="com.thinkaurelius.thrift" level="ERROR"/>

  <logger name="org.apache.tamaya" level="DEBUG"/>

  <logger name="com.datastax.driver.core.QueryLogger.NORMAL" level="INFO"/>
  <logger name="com.datastax.driver.core.QueryLogger.ERROR" level="INFO"/>

  <logger name="org.jboss.weld" level="DEBUG"/>

  <logger name="org.wildfly" level="ERROR"/>

  <logger name="org.trellisldp" level="DEBUG"/>

  <logger name="edu.si" level="DEBUG"/>

</configuration>